header
{
   margin: auto;
    width: 30em;
}

#menu_logo
{
    position: absolute;
    top: 0.2em;
    height: 2.5em;
}

#home_logo
{
    margin: 0;
    height: 20em;
    background-color: rgba(250, 250, 250, 0.5);
}

@media screen and (max-width:769px) 
{
    #menu_logo
    {
        top: 0.8em;
        height: 2.5em;
    }
}

@media screen and (max-width:410px) 
{
    #home_logo
    {
        margin: 0;
        height: 12em;
    }    

    header
    {
        width: 15em;
    }
}

@media screen and (max-width:350px) 
{
    #menu_logo
    {
        top: 1em;
        height: 2em;
    }
}